:root {
    --up-green: rgb(54, 169, 63);
    --almost-black: rgb(51, 51, 51);
    --almost-white: rgb(242, 242, 242);
    --grey: rgb(228, 228, 228);
    --light-green: rgb(106, 160, 110);
}

body {
    width: 200px;
    border: 5px solid var(--up-green);
    margin: 0;
    padding: 5px;
    color: var(--almost-black);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

#container {
    display: flex;
    flex-direction: column;
}

.c {
    margin: 15px 10px 15px 10px;
    text-align: center;
}

.c > * {
    margin: auto;
}

input {
    accent-color: var(--up-green);
}

input:hover {
    cursor: pointer;
    background-color: var(--grey);
}

input[type="button"] {
    background-color: var(--almost-white);
    box-shadow: 0 2px 0 0 var(--light-green);
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input:active[type="button"] {
    box-shadow: none;
    transform: translateY(2px);
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}

input:hover[type="number"] {
    background-color: var(--almost-white);
}

p {
    width: 100%;
    font-weight: 300;
}

#speedWarning {
    display: none;
    font-size: 12px;
    font-style: italic;
}

.speedHigh {
    display: block !important;
}
